{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Susan Kilmartin Fine Art{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'global.css'%}">

        {% block style %}
        {% endblock %}
    </head>

    <body>
        <div class="navbar">
            <div class="nav-item">
                <h1 class="dancing-script"><a href="/" class="hov-link">Susan Kilmartin Fine Art</a></h1>
            </div>
            <div class="nav-cluster">
                <div class="nav-item">
                    <a href="/portfolio" class="roboto hov-link">PORTFOLIO</a>
                </div>
                <div class="nav-item">
                    <a href="/about" class="roboto hov-link">ABOUT</a>
                </div>
            </div>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            <a href="https://github.com/sadam-04/brendan-www" class="link-dot">Copyright &#x00a9; 2024 Brendan Saich and Adam Saich</a>
        </div>
    </body>
</html>