body {
    padding: 0 0;
    margin: 0 0;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10 !important;
    padding: 0px 8%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.nav-cluster {
    display: flex;
    font-size: 125%;
    justify-content: space-between;
}

.nav-item {
    margin: auto 0;
}

.nav-cluster .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

/* content block */
.content {
    position: relative;
    z-index: 1;
}

/* footer block */
.footer {
    color: white;
    margin: auto;
    margin-bottom: 5px;
}

/* font classes */
.dancing-script {
    font-family: "Dancing Script", serif;
}

.roboto {
    font-family: "Roboto", serif;
}

/* hover effect for clickable items/links */
.hov-link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: inherit;
    transition: 200ms;
}

.hov-link:hover {
    border-color: black;
}