

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header-1 {
    font-size: 275%;
}

.para {
    font-size: 100%;
}

/* font classes */
.dancing-script {
    font-family: "Dancing Script", serif;
}

.serif {
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.serif-heavy {
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

.nserif {
    font-family: "Roboto", serif;
    font-weight: 400;
}

.nserif-light {
    font-family: "Roboto", serif;
    font-weight: 300;
}

.nserif-heavy {
    font-family: "Roboto", serif;
    font-weight: 600;
}


.bttn {
    display: flex;
    border-radius: 100px;
    padding: 15px;
    border: 2px solid black;
    color: white;
    background-color: black;
    transition: 200ms;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 40px;
    width: fit-content;
}

.bttn:hover {
    color: black;
    background-color: white;
    /* border: 1px solid black;  */
}

.nav-lod {
    color: white;
    background-color: black;
}

.nav-dol {
    color: black;
    background-color: white;
}

.nav-title {
    display: flex;
    font-size: 250%;
    margin: 15px 15px;
    /* height: 900px; */
}

.navbar {
    position: sticky;
    top: 0;
    box-shadow: none;
    /* height: 10vh; */
    height: fit-content;

    /* background-image: url("{% static 'transparent.png' %}"); */
    /* background-color: blue; */
    /* background-image: url("bg-cropped.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    /* color: white; */

    z-index: 10;
    padding: 0px 8%;
    display: flex;
    justify-content: space-between;
    /* transition: 2000ms; */
}

.nav-bg-color {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    color: white;

    transition: 200ms;
}





.nav-cluster {
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.nav-item {
    margin: auto 0;
    z-index: 10;
}

.nav-cluster .nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

/* content block */
.content {
    position: relative;
    flex: 1;
    z-index: 1;
}

/* footer block */
.footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    margin: auto;
    bottom: 0;
}

/* hover effect for clickable items/links */
.hov-link {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: inherit;
    transition: 200ms;
}


.hov-link:hover {
    border-color: inherit;
}

.dot-link {
    text-decoration: dotted underline;
    color: inherit;
    transition: 200ms;
}

.dot-link:hover {
    text-decoration: solid underline;
}

.q-link {
    text-decoration: none;
    color: inherit;
}

.parallax {
    background-image: url("home-landing-bg.png");
    background-attachment: fixed;
    background-position: 0% 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.v-fill {
    height: 100vh;
}

.v-fill-90 {
    height: 90vh;
}

.xparent {
    opacity: 0;
    pointer-events: none;
}

.col-invert {
    color: white;
    background-color: black;
}

.bttn.col-invert {
    color: black;
    background-color: white;
}

.bttn.col-invert:hover {
    color: white;
    background-color: black;
    border-color: white;
}

body {
    display: flex;
    flex-direction: column;
}